header{
    background-color: orange;
    color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    padding: 10px;
}

#calendar{
    background-color: purple;
    color: white;
    width: fill;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}